img {
    height: 100vh;
    width: 50vw;
    object-fit: contain;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: left;
    font-weight: 500;
}

.msg{
    font-weight: 200;
    text-align: left
}

.right-image {
    display: flex;
    align-self: flex-end;
}

.card-container {
    display: flex;
    justify-content: space-between;
}

.card-desc {
    display: flex;
    flex-direction: column;
    width: 50vw;
    // background-color: red;
    justify-content: center;
    align-items: flex-start;
    padding-inline: 2vw;
}

.container {
    display: flex;
    width: 100%;
    background: radial-gradient (black, #0d0220, cyan)
}

@media only screen and (max-width: 850px) {

    /* For mobile phones: */
    img {
        height: 40vh;
        width: 50vw;
        object-fit: contain;
        align-self: center;
    }

    h1{
        font-size: larger;
    }

    .msg{
        display: none;
    }
}