.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.circle-wrapper {
  background-color: rgba(2, 95, 121, 0.25);
  border-radius: 100%;
}

.label {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 900;
  letter-spacing: 3px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: linear-gradient(120deg, #076d99, #2896a5, #2eafb5, #075468);
  ;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
